@import "bourbon/bourbon";
@import "neat/neat";


body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url("http://static2.cdn.ubi.com/uk/FC4/background1.jpg");
  background-size: 100%;
  background-color: gray;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
  background: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  // background-image: url("http://static2.cdn.ubi.com/uk/FC4/background1.jpg");
  background-size: 100%;
  background-color: #9A9C8C;
}

form {
  -webkit-animation-name: scaleanimation;
          animation-name: scaleanimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
}
form label {
  // border-top: 2px solid #3498db;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  display: block;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: red;
  height: 60px;
  float: none;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/// EMAIL ///

form input[type="text"] {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #3498db 2%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #3498db 2%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  color: #2c3e50;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 45px;
  margin: 30px 5%;
  outline: none;
  padding: 0;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  width: 90%;
}
form input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="text"].hasValue, form input[type="text"]:focus {
  background-size: 100% 100%;
}
form input[type="text"].hasValue::-webkit-input-placeholder, form input[type="text"]:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate3d(0%, -135%, 0);
          transform: translate3d(0%, -135%, 0);
}
form input[type="text"].hasValue::-moz-placeholder, form input[type="text"]:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
  transform: translate3d(0%, -135%, 0);
}
form input[type="text"].hasValue:-ms-input-placeholder, form input[type="text"]:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  transform: translate3d(0%, -135%, 0);
}
form input[type="text"].hasValue::placeholder, form input[type="text"]:focus::placeholder {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate3d(0%, -135%, 0);
          transform: translate3d(0%, -135%, 0);
}

/// PASSWORD ///

form input[type="password"] {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #3498db 2%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #3498db 2%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  color: #2c3e50;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 45px;
  margin: 20px 5%;
  outline: none;
  padding: 0;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  width: 90%;
}
form input[type="password"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="password"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="password"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: all 0.2s ease;
  backface-visibility: hidden;
  perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="password"]::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  text-transform: uppercase;
  visibility: visible !important;
}
form input[type="password"].hasValue, form input[type="password"]:focus {
  background-size: 100% 100%;
}
form input[type="password"].hasValue::-webkit-input-placeholder, form input[type="password"]:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate3d(0%, -135%, 0);
          transform: translate3d(0%, -135%, 0);
}
form input[type="password"].hasValue::-moz-placeholder, form input[type="password"]:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
  transform: translate3d(0%, -135%, 0);
}
form input[type="password"].hasValue:-ms-input-placeholder, form input[type="password"]:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  transform: translate3d(0%, -135%, 0);
}
form input[type="password"].hasValue::placeholder, form input[type="password"]:focus::placeholder {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate3d(0%, -135%, 0);
          transform: translate3d(0%, -135%, 0);
}

form input[type="button"] {
  background: #fbfbfb;
  border: none;
  cursor: pointer;
  color: #333;
  float: left;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 16px;
  height: 70px;
  letter-spacing: 0.8px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}
form input[type="button"]:hover {
  background: #34495e;
  color: white;
}

@-webkit-keyframes scaleanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.5, 1.5);
            transform: translate(-50%, -50%) scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes scaleanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.5, 1.5);
            transform: translate(-50%, -50%) scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}

///

.signUp {
  form input[type="text"] {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #3498db 2%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #3498db 2%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    color: #2c3e50;
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    margin: 16px 3%;
    outline: none;
    padding: 0;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    width: 90%;
  }
}


///

.avatarImg {
  width: 50px;
  border-radius: 50%;
}

.gamerScore {
  border: 1px solid red;
}

.posts {
  background-color: #FF9800 !important;
}

.appbar {
  background-color: inherit !important;
}

.postButton {
  background-color: #788C97;
  color: white;
  font-weight: bold;
  margin-top: 5%;
}

select {
  width: 366px;
  height: 34px;
  margin-top: 5%;
  border-radius: 6px;
}

p {
  color: red !important;
}

.userMessage {
  color: yellow !important;
  font-size: 16px;
}

.overallApp {
  margin: auto 10%;
  @include breakpoint(1.5dppx)  {
    margin: auto 10%;
   }
}

.dropdownmenuz {
  background-color: red !important;
}

.topNavColor {
  color: #FF9800 !important;
}

.inputCard {
  color: white !important;
  background-color: #d3d3d3 !important;
}

.evenButton:hover {
  background-color: #98fb98 !important;
}

.oddButton.evenButton:hover {
  background-color: #98fb98 !important;
}

.gamerTaginput {
  color: white !important;
}

.evenButton {
  color: #FF9800 !important;
}

.oddButton {
  color: #9A9C8C !important;
}

submitButton {
  text-align: center;
}

.lfg {
  float: right;
}
// .postCards {
//   margin: auto 10%;
// }
